<div class="bx--grid">
	<div class="bx--row">
		<div class="bx--col-xs-11 ">
			<h1 class="text-center"> Todo App </h1>
			<br>
			<div class="bx--grid bx--tile">
				<div class="bx--row layer bx--col-xs-9">
					<div class="bx--col-xs-6">
						<add-todo (add)="addTodo($event)" [reset]="addTodoSuccess$ | async"></add-todo>		
					</div>
					<div class="bx--col-xs-6">
						<filter-todos [filters]="filters"  [active]="activeFilter | async" (changeFilter)="changeFilter($event)"></filter-todos>		
					</div>
				</div>
			</div>
			<todos [todos] ="todos | async" (changeTodoState)="changeTodoState($event)"></todos>
		</div>
	</div>
</div>
