<div class="container">

	<h1> Todo App </h1>
	<hr>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<add-todo (add)="addTodo($event)" [reset]="addTodoSuccess$ | async"></add-todo>		
		</div>
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
			<filter-todos [filters]="filters"  [active]="activeFilter | async" (changeFilter)="changeFilter($event)"></filter-todos>		
		</div>
	</div>
	
	<hr>
	<todos [todos] ="todos | async" (changeTodoState)="changeTodoState($event)"></todos>
</div>